<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ourStyle.css">
        <link rel="icon" href="icon.ico">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="app.js"></script>
    <script src="bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <title>Myeong Dong Chatswood</title>
</head>


<body>
    <div id="mainContainer">
        <div id='backLogo'>
            <img id='logo' src="logo.jpg">
        </div>
        <div id='center'>
            <div id='welcome'>
                <h3>Enter Password</h3>
            </div>

            <form action="/login" method="post">
                <input id="name" name='name' type='password' required>
                <button>Submit</button>
            </form>
            <% if (locals.fail) { %>
                <p>
                    <%= fail %>
                </p>
                <% } %>
            <a href="/">Go Back</a>
        </div>
    </div>

</body>

</html>